{% extends 'base.html' %}

{% block content %}
	
	<div class="dropdown">
 
            <button class="dropbtn_green">D3 Charts</button>
            <div class="dropdown-content">
					<a href="pie">Pie Chart</a>
					<a href="bar">Bar Chart</a>
					<a href="rounded">Rounded Rects</a>
					<a href="debts">Euro Debts</a>
					<a href="d3dbar">x3dom Demo</a>
					<a href="religions">Religone Top 20</a>
					<a href="bar3">Vertical Bar</a>
					<a href="ttip">Simple tooltips</a>
					<a href="ttip2">Tooltips BarChart</a>
            </div>
            
		</div>
		
	<div class="dropdown">

			<button class="dropbtn_purple">Advanced D3 Charts</button>
			<div class="dropdown-content">
					<a href="pie">Pie Chart</a>
					<a href="bar">Bar Chart</a>
					<a href="heatmap">Heatmap Chart</a>
					<a href="globtemp">Global Temperature</a>
					
			</div>
			
		</div>

	<div class="dropdown">

			<button class="dropbtn_orange">D3 Visualization</button>
			<div class="dropdown-content">
					<a href="pie">Pie Chart</a>
					<a href="bar">Bar Chart</a>
					
			</div>
			
		</div>
	<div class="dropdown">

			<button class="dropbtn_blue">Live D3 Charts</button>
			<div class="dropdown-content">
					<a href="pie">Pie Chart</a>
					<a href="bar">Bar Chart</a>
					
			</div>
			
		</div>

{% endblock %}
